<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="header">
    <title>Game Store</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" async=false defer=false></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">

    <script type="text/javascript" src="/js/cart-modal.js" async=false defer=false></script>
    <script type="text/javascript" src="/js/game-info-modal.js" async=false defer=false></script>

    <script type="text/javascript" src="/js/game-cards-loading.js"></script>
    <script type="text/javascript" src="/js/cart.js"></script>
</th:block>

</html>